* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background-color: #e7e8f3;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  border: none;
  border-radius: 15px;
  padding: 15px;
  margin-top: 20px;
  background-color: #e8e9f3;
}

.chart-container {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #2b2a38;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
}

.total-expenses-container,
.total-income-container {
  display: flex;
  border: none;
  background-color: #2b2a38;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
}

.total-expenses-container > p {
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
}

.total-income-container > p {
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
}

.total-expenses-container > .expenses-el,
.income-el {
  margin-left: auto;
}

.form-container {
  padding: 10px;
  margin: 20px 0;
  display: flex;
  background-color: #2b2a38;
  border-radius: 20px;
  box-shadow: 2px 2px #959595;
  color: whitesmoke;
}

.input-field-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding: 5px;
}

.input-field-container > input,
select {
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
}

.input-field-container > label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container > button {
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  background-color: #6494ec;
  color: white;
  font-size: 14px;
  font-weight: 700;
  transition: 150ms ease-in-out;
}

.action-container > button:hover {
  background-color: #2559ba;
}

.action-container > button:active {
  background-color: #6494ec;
}

/* TABLE */
.table-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

.table-el tr {
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  padding: 10px;
  background-color: #f7f7f7;
}

table > tr:last-child > td:first-child {
  border-bottom-left-radius: 15px;
}

table > tr:last-child > td:last-child {
  border-bottom-right-radius: 15px;
}

table > tr:last-child {
  border: none;
}

tr > td {
  padding: 10px 15px;
}

.table-head > th {
  background-color: #272635;
  padding: 20px 10px;
  color: whitesmoke;
}

.table-head > :nth-child(1) {
  border-top-left-radius: 15px;
}

.table-head > :last-child {
  border-top-right-radius: 15px;
}

/* ACTION BUTTONS */
.del-btn {
  background-color: #d64c4c;
  transition: 150ms;
}

.del-btn:hover {
  background-color: #bb1515;
}

.del-btn:active {
  background-color: #d64c4c;
}

/* EDIT MODAL INPUT UI */
.modal-input {
  font-size: 14px;
  padding: 8px;
}

.modal-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin: 5px;
}

.save-btn {
  background-color: #6494ec;
  transition: 150ms;
}

.save-btn:hover {
  background-color: #2559ba;
}

.save-btn:active {
  background-color: #6494ec;
}

.cancel-btn {
  background-color: slategrey;
}

.cancel-btn:hover {
  background-color: #596876;
}

.cancel-btn:active {
  background-color: slategrey;
}
